.conainer {
  min-height: 100%;
}
.search {
  width: 90%;
  background-color: white;
  border-radius: 8;
  margin: 5% 5% 1% 5%;
  position: relative;
}
.search input {
  color: #282828;
}

.search
  input
  .muioutlinedinput-root
  .mui-focused
  .muioutlinedinput-notchedoutline {
  border-color: #34d2eb;
  border-width: 2px;
}

.result {
  height: 93.5%;
}