.container {
  display: flex;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 2vh;
}

.next {
  margin-left: auto;
}

.icon-button {
  color: var(--primary-color) !important;
}

.icon-button:disabled {
  color: #bdbdbd !important;
}

.spacer {
  flex-grow: 1; 
}

.destination-search-wrapper {
  margin-left: 3%;
  margin-right: 8%;
  margin-bottom: 5%;
}

.destination-header {
    color: var(--primary-color);
    margin-top: 5%;
    margin-left: 5%;
}

.logo-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: auto;
}