.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8%;
    color: #86EAF0;
  }

  .i:hover {
    color: #2dada7;
  }

  .saved {
    color: #86eaf0 !important;
  }