.main-sidebar {
  background-color: #3e3e3e;
  max-width: 33%;
  min-width: 33%;
  width: 33%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-icon {
  font-size: 30;
}

.sidebar-text {
  margin-inline: 1%;
}